.button {
   /*  background-color: var(--dark-grayish-cyan); */
    padding: 1rem 0;
    width: 48%;
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.button-active {
    background-color: blue;
}

@media screen and (min-width: 1440px) {
    .button {
        width: 30%;
    }
}