.results {
    background-color: var(--very-dark-cyan);
    width: 100%;
    height: 40vh;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 1.5rem;
    color: var(--white);
}

.results__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.results button {
    width: 100%;
    background-color: var(--grayish-cyan);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    color: var(--dark-grayish-cyan);
}

.container__info p:last-child {
    color: var(--dark-grayish-cyan);
}