@import url("/src/styles.css");

* {
    font-family: var(--main-font);
}

.banner {
    background-color: hsl(185, 41%, 84%);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
   color: var(--dark-grayish-cyan);
   font-family: var(--main-font);
   font-size: 34px;
}